@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    background-image: url(https://wallpaperaccess.com/full/3894321.jpg);
}

h1 {
    font-family: Abril Fatface;
    text-align: center;
    color: white;
    font-size: 45px;
    text-shadow: 3px 0 0 black;
}

img {
    width: 100px;
}

#div_boutons {
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin: auto;
}

.boutons {
    margin: 10px;
    background-color: black;
    padding: 12px 28px;
    font-family: Abril Fatface;
    font-size: 15px;
    color: white;
    border-radius: 4px;
}

.boutons:hover {
    background-color: #008000;
    color: white;
}
